body{
    background-color: lightgrey;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-bar nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: center;
    
} 
@media only screen and (max-width:700px)  {
    .nav-bar nav ul{
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
    }
    .m5{
        left: .1%;
    }
    .buy{
        width: 80px;
        border: 1px solid black;
    }
    
}
.buy{
            border: 1px solid black;
            background-color: black;
            color: white;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 10%;
            font-size: 13px;
            position: relative;
            left: 30%;
}
.m5{
    position: relative;
    right: 30%;
}
.para{
    height: 300px;
    width: auto;
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    gap: 15%;
}
@media only screen and (max-width:700px){
    .para{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        margin-top: 100%;
    }
    .main_img{
        height: 300px;
        width: 350px;
    }
    .h1_head{
       display: flex;
       align-self: flex-start;
       height: 30vh;
       width: 70vw;
       margin-bottom: 59%;
    }
}
.h1_head{
    position: relative;
    left: 12%;
}
.para2{
    height: 200px;
    width: 40%;
    position: relative;
    left: 20%;
}
@media only screen and (max-width:700px){
    .para2{
        height: 100px;
        width: auto;
        margin-top: 90%;
        left: -.2%;
    }
}
.para3{
    border: 1px solid black;
    background-color: rgb(158, 151, 151);
    height: 50px;
    width:900px;
    position: relative;
    left: 27%;
    margin-top: 130px;
    border-radius: 3%;
}
@media only screen and (max-width:700px){
    .para3{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 60%;
        margin-top: 40rem;
        position: relative;
        right: 100px;
    }
   .para3 p .learn{
            align-self: flex-start;
    }
}
.learn{
    position: relative;
    left: 53%;
    border: 1px solid black;
    border-radius: 15%;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 12px;
}

.container{
    height: 300px;
    width: auto;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin-left: 3%;
}
@media only screen and (max-width:700px){
    .container{
        height: 50vh;
        margin-top: 240%;
        display: flex;
        flex-direction: column;
    }
}
h4{
    font-size: 30px;
}
.made{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 500px;
    width: auto;
    margin-top: 3%;
}
@media only screen and (max-width:700px){

    .made{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 270%;
            margin-bottom: 60%;
            height: 70vh;
    }
    .img1{
        height: 300px;
        width: 350px;
        margin: auto;
    }
    .img2{
        height: 300px;
        width: 350px;
        margin: auto;
    }
    .img3{
        height: 300px;
        width: 350px;
        margin: auto;
    }
}
h2{
    text-align: center;
    font-size: 37px;
}
@media only screen and (max-width:700px){
    h2{
        position: relative;
        top: 30rem;
    }
}